@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

header {
  padding: 2rem 2rem 0;
}

.logodiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logodiv img {
  height: 7%;
  width: 14%;
}

.tryfree {
  cursor: pointer;
  color: hsl(322, 100%, 66%);
  background-color: #fff;
  border: 1px solid hsl(322, 100%, 66%);
  box-shadow: 0 2px 5px hsl(322, 100%, 66%, 0.5);
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}

.community_div {
  width: 60%;
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.community_text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

.community_text p {
  width: 60%;
  font-size: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.startfree {
  cursor: pointer;
  width: 10rem;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  padding: 0.6rem 2rem;
  border-radius: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.community_img img {
  width: 100%;
}

.statistics {
  display: flex;
  justify-content: space-between;
}

.statistics img {
  width: 20%;
  height: 20%;
}

.community_number,
.messagesent {
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.stattext {
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

main {
  /* padding: 0 3.5rem; */
  /* overflow: hidden; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.card {
  display: flex;
  height: 50vh;
  padding: 0 3.5rem;
}

.cardtext {
  width: 50%;
  margin: auto;
}

.cardtext h2 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.cardtext p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  padding-right: 18%;
  font-weight: 600;
}

.cardimage {
  width: 50%;
}

.cardimage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.growcard,
.usercard {
  position: relative;
  flex-direction: row-reverse;
  background-color: hsl(207, 100%, 98%);
  z-index: 100;
}

.growtop {
  width: 100%;
  height: 164px;
  position: absolute;
  left: 0;
  top: -164px;
  background: url(./images/bg-section-top-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.growbottom {
  width: 100%;
  height: 139px;
  position: absolute;
  left: 0;
  bottom: -139px;
  z-index: -1;
  background: url(./images/bg-section-bottom-desktop-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.usertop {
  width: 100%;
  height: 156px;
  position: absolute;
  left: 0;
  top: -156px;
  z-index: -1;
  background: url(./images/bg-section-top-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.userbottom {
  width: 100%;
  height: 139px;
  position: absolute;
  left: 0;
  bottom: -139px;
  z-index: -1;
  background: url(./images/bg-section-bottom-desktop-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottomcard {
  height: 40vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 158px;
}

.bottomcard h2 {
  font-family: "Poppins", sans-serif;
}

footer {
  position: relative;
  z-index: 1;
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.footertop {
  position: absolute;
  left: 0;
  top: -158px;
  width: 100%;
  height: 158px;
  z-index: -1;
  background: url(./images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer > * {
  flex-basis: 50%;
}

.bottomlogo {
  width: 40%;
  height: 30%;
}

.address p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  padding-right: 60%;
  line-height: 1rem;
  margin-block: 0.7rem;
}

.phone,
.email {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.address img {
  object-fit: contain;
}

.sociallinks {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  gap: 0.7rem;
}

.sociallinks > * {
  cursor: pointer;
}

h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.newsletter p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
  padding-right: 60%;
  line-height: 1rem;
  margin-bottom: 1rem;
}

input {
  border-radius: 0.2rem;
  width: 45%;
  height: 12%;
}

input:focus {
  outline: none;
}

.sub {
  background-color: hsl(322, 100%, 66%);
  color: #fff;
  height: 12%;
  padding: 0 1.5rem;
  border-radius: 0.2rem;
  margin-left: 1rem;
}

@media (max-width: 850px) {
  header {
    /* border: 1px solid black; */
    width: 375px;
    margin: 0 auto;
    padding: 1rem 1rem 0;
  }

  .logodiv img {
    height: 30%;
    width: 40%;
  }

  .tryfree {
    padding: 0.2rem 0.7rem;
  }

  .community_div {
    width: 100%;
    margin: 5rem auto;
    gap: 4rem;
  }

  h1 {
    font-size: 1rem;
  }

  .community_text p {
    width: 100%;
    font-size: 0.6rem;
    font-weight: 600;
  }

  .startfree {
    width: 8rem;
    padding: 0.4rem 1.5rem;
    font-size: 0.5rem;
  }

  .statistics {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  main {
    width: 375px;
    margin: 0 auto;
    gap: 8rem;
  }

  .card {
    flex-direction: column;
    height: 80vh;
    padding: 1rem;
    text-align: center;
  }

  .cardtext {
    width: 100%;
  }

  .cardtext h2 {
    font-size: 1rem;
  }

  .cardtext p {
    padding-right: 0;
    font-size: 0.57rem;
  }

  .cardimage {
    width: 100%;
  }

  .growtop {
    height: 112px;
    top: -112px;
    background: url(./images/bg-section-top-mobile-1.svg);
    background-size: contain;
  }

  .growbottom {
    height: 52px;
    bottom: -52px;
    background: url(./images/bg-section-bottom-mobile-1.svg);
  }

  .usertop {
    height: 103px;
    top: -103px;
    background: url(./images/bg-section-top-mobile-2.svg);
  }

  .userbottom {
    height: 101px;
    bottom: -101px;
    background: url(./images/bg-section-bottom-mobile-2.svg);
  }

  .bottomcard {
    height: 50vh;
    text-align: center;
  }

  .bottomcard h2 {
    font-size: 1rem;
  }

  footer {
    width: 375px;
    margin: 0 auto;
    flex-direction: column-reverse;
    padding: 2rem 1.5rem;
    gap: 2.5rem;
  }

  .newsletter p {
    padding-right: 0;
    color: rgba(255, 255, 255, 0.6);
  }

  input {
    width: 100%;
    padding: 0.3rem 0;
  }

  .sub {
    float: right;
    padding: 0.4rem 0.9rem;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .address p {
    padding-right: 0;
    color: rgba(255, 255, 255, 0.6);
  }

  small {
    font-size: 0.6rem;
  }

  .phone,
  .email {
    gap: 0.5rem;
  }

  .footertop {
    height: 53px;
    top: -53px;
    background: url(./images/bg-footer-top-mobile.svg);
  }
}
